*{

    padding:0;
    margin:0;
    
}
body{
        background-color: lightskyblue;
}
#container{
    width: 100%;
    height: max-content;

}

.square{
    background-color: hotpink;
    height: 300px;
    width: 30%;
}
.rectangle{
    background-color: red;
    height:300px;
    width: 60%;
    margin: 150px 0px;
}    
.circle{
    width: 40%;
    height: 500px;
    background: gray;
    margin: 0px auto;
    border-radius: 50%;
    margin-bottom: 200px;

}
.name{
    font-size: 30px;
    color: red;
    bottom: 0px;
    position: absolute;

}
@media only screen and (device-width: 411px) and (device-height:731px){
    #circle{
        height: 400px;
    }
    #square{
        height:300px;
    }
}
@media only screen and (device-width:731px) and (device-height:411px){
    .rectangle{
        display: none;
        margin-bottom: 250px;
    }
    .circle{
        height: 250px;
        width: 27%;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .square{
        height: 280px;
    }
}
.name {
    animation: change 5s step-end both;
}
@keyframes change{
    from{
        color: deeppink;

    }
    to{
        color: seagreen;
    }
}




